body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* أسود */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff; /* أبيض */
}

.container {
    background-color: #222222; /* لون رمادي داكن */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* ظل داكن */
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ff0000; /* أحمر */
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ff3333; /* أحمر فاتح */
}

select {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #444; /* لون رمادي داكن */
    border-radius: 4px;
    background-color: #333333; /* لون رمادي داكن */
    color: #ffffff; /* أبيض */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000; /* أحمر */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
}

.button:hover {
    background-color: #cc0000; /* أحمر داكن */
}

.progress-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.progress-bar {
    width: 0%;
    height: 20px;
    background-color: #ff0000; /* أحمر */
    border-radius: 4px;
    transition: width 0.3s;
}

.progress-text {
    margin-left: 10px;
    font-weight: bold;
    color: #ffffff; /* أبيض */
}

.key-container {
    margin-top: 20px;
}

.key-container h2 {
    color: #ff3333; /* أحمر فاتح */
}

.keys-list {
    text-align: left;
}

.key-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #333333; /* لون رمادي داكن */
    padding: 10px;
    border: 1px solid #444; /* لون رمادي داكن */
    border-radius: 4px;
    word-wrap: break-word;
}

.key-item input {
    flex-grow: 1;
    border: none;
    background: transparent;
    color: #ffffff; /* أبيض */
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.key-item button {
    margin-left: 10px;
    background-color: #ff0000; /* أحمر */
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 14px;
}

.key-item button:hover {
    background-color: #cc0000; /* أحمر داكن */
}

.hidden {
    display: none;
}

.copy-status {
    margin-top: 10px;
    color: #ff3333; /* أحمر فاتح */
    font-weight: bold;
}
